<?xml version="1.0"?>
<!--
/**
 * Solwin Infotech
 * 
 * @category   Solwin
 * @package    Solwin_Core
 * @copyright  Copyright © 2006-2018 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
	<module name="Solwin_Core" setup_version="1.0.0" active="true"></module>
</config>
